* {
    font-family: Calibri, sans-serif;
}
.header1 {
    text-align: center;
}

h1,h2,h3 {
    color: darkblue;
}

.addDetails {
    padding: 5px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
    border-style: groove;
}
#userDetails th{
    font-weight: bold;
    text-align: right;
    color: darkblue;
}
input {
    width: 200px;
}

#addButton {
    margin: 15px 5px 5px 5px;
    padding: 3px 32px 3px 32px;
    font-size: 12px;
    background-color: deepskyblue ;
}

#addButtonDiv {
    text-align: center;
}

.showResults {
    padding: 5px;
    border-radius: 10px;
    border-style: groove;
    width: 1000px;
    margin: auto;
}

#inputTable td {
    padding-left: 12px;
    text-align: left;
}

#resultsTable {
    border-collapse: collapse;
    margin: 0px 12px 12px 12px;
    }

#resultsTable th {
    border: 1px solid black;
    column-width: 50px;
    color: darkblue;
    text-align: left;
}


#resultsTable th:first-child, #resultsTable th:nth-child(2), #resultsTable th:nth-child(3) {
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;

}


#resultsTable th:nth-child(4) {
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
    column-width: 400px;
}

#resultsTable tr:last-child {
    border-bottom: 1px solid black;
}

#resultsTable td {
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
    text-align: left;
}

#resultsTable td:last-child, #resultsTable td:nth-child(5) {
    text-align: center;
}

.editButton {
    padding: 0px 2px 0px 2px;
    background-color: deepskyblue ;
}

.deleteButton {
    padding: 0px 2px 0px 2px;
    background-color: deepskyblue ;
}

